header{
    color: white;
    background-color: black;
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

nav{
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    
    
}

section{
    color: white;
    background-color: black;
    text-align: center;
    font-style: italic;
}

body{
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    background-image: url("berlin-8054311_1280.jpg");
}